<table>

  <caption><h3><%= image_tag("lightning.png") %> Conso. électrique</h3></caption>
  <tbody>
    <% if fil.elec == true %>
    <tr><td></td></tr>
    <tr>
      <td class="small">Puissance élect. installée (en W)</td>
      <td><strong><%= fil.puiss_totale%></strong></td>
    </tr>
    <tr>
      <td class="small">Conso élect. annuelle (en kWh/an)</td>
      <td><strong><%= fil.conso_elect%></strong></td>
    </tr>
    <% else %>
    <tr><td colspan="2">pas de consommation de la filière en elle-même.</td></tr>
    <%end%>
  </tbody>
</table>
